body {
    font-family: Consolas, sans-serif;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: #0400ff;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

#content {
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(210, 100%, 30%);
    color: white;
}

#neck {
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 40%);
    color: white;
}

#open-tetragon {
    background-color: hsl(220, 100%, 35%);
    font-family: Consolas, sans-serif;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
}

#back {
    background-color: #530000;
    font-family: Consolas, sans-serif;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
}